.semester {
    border: solid black;
    width: 1240px;
    height: 300px;
    
}

td,
th {
    border: 1px solid black
}

th {
    background-color: blanchedalmond;
}

h1 {
    color: blue;
    text-align: center;
}

 p{
    text-align: center;
}


.seconddivision {
    /* border: 5px black; */
    /* border-width: 1px; */
    /* border-radius: 2px; */
    margin-left: 10px;
}

.firstalign{
    justify-content: center;
    /* align-items: center; */
    /* align-content: center; */
    display: flex;

}

.person_details {
    display: flex;
    justify-content: space-between;
    border-width: 2px;
    border-color: black;
    border-style: solid;

}

.third_division {
    margin-right: 10px;


}

.Result {
    display: flex;
}

.sgpa {
    display: flex;
    margin-left: 40px;

}

.Result_sgpa {
    display: flex;
}

.marks_1 {
    border: solid black;
    width: 1240px;
    height: 30px;
}

.firstdivision {
    background-color: blueviolet;
    height: 20;
    display: flex;
    justify-content: space-between;

}

.date {
    display: flex;
    justify-content: right;
    color: white;
    margin-right: 100px;

}

.exams {
    margin-right: 10px;
    text-align: center;
    color: white;
    margin-left: 500px;

}
.note{
    display: flex;
    justify-content: ri;
    
}
.note1{
    display: flex;
}
.wal{
    display: flex;
}
.information{
    margin-left: 0px;

}
.image {
    display: flex;
    text-align: center;
    margin-left: 335px;
}
.text{
    margin-left: 20px;
    
}
button{
    background-color: blue;
    color: white;
}